





  <div class="row">


    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <!--   <li data-target="#myCarousel" data-slide-to="2"></li>
       <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="jumbotron theme-light">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-md-push-12 text-center">

                    </div>
                    <div class="col-md-12 col-md-pull-12">
                        <div class="type-sh3">
                            Warm welcome to
                        </div>
                        <h1 class="mat-display-1">Name Consultants</h1>
                        <p color="primary">Over 24 years experience and knowledge standards, technology changes and so do we.</p>
                        <div class="btn-group">
                            <button  matRipple [matRippleColor]="secondary" class="btn btn-primary" href="#">Read More</button>

                            <button  matRipple [matRippleColor]="primary"  class="btn btn-secondary" href="#">Contact us</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="item">
          <div class="jumbotron theme-light">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-md-push-12 text-center">

                    </div>
                    <div class="col-md-12 col-md-pull-12">
                        <div class="type-sh3">
                            Warm welcome to
                        </div>
                        <h1 class="mat-display-1">Name Consultants</h1>
                        <p color="primary">Over 24 years experience and knowledge standards, technology changes and so do we.</p>
                        <div class="btn-group">
                            <button  matRipple [matRippleColor]="secondary" class="btn btn-primary" href="#">Read More</button>

                            <button  matRipple [matRippleColor]="primary"  class="btn btn-secondary" href="#">Contact us</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
<!--here-->




      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class=" glyph glyph-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class=" glyph glyph-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>





    <mat-toolbar color="secondary">



      <!-- This fills the remaining space of the current row -->

    </mat-toolbar>


  </div>

