

  <mat-toolbar  color="primary" >
    <mat-toolbar-row>
      <span [routerLink]='["/"]'>Header </span>


      <span class="fill-remaining-space"> </span>
      <span>
        <button mat-button [matMenuTriggerFor]="animals">Services</button>

        <mat-menu #animals="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="hotel">Hotel Bookings</button>
          <button mat-menu-item [matMenuTriggerFor]="invertebrates">Ticketing</button>
          <button mat-menu-item [matMenuTriggerFor]="Immigration">Immigration</button>
          <button mat-menu-item [matMenuTriggerFor]="visa">Visa Processing</button>
          <button mat-menu-item [matMenuTriggerFor]="luggage">Luggage Handling</button>
          <button mat-menu-item [matMenuTriggerFor]="carhire">Car Hire</button>
        </mat-menu>

        <mat-menu #hotel="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="booking">Bookings</button>
          <button mat-menu-item [matMenuTriggerFor]="hoteltransfers">Hotel Transfers</button>
          <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
          <button mat-menu-item>Birds</button>
          <button mat-menu-item>Mammals</button>
        </mat-menu>

        <mat-menu #invertebrates="matMenu">
          <button mat-menu-item>Insects</button>
          <button mat-menu-item>Molluscs</button>
          <button mat-menu-item>Crustaceans</button>
          <button mat-menu-item>Corals</button>
          <button mat-menu-item>Arachnids</button>
          <button mat-menu-item>Velvet worms</button>
          <button mat-menu-item>Horseshoe crabs</button>
        </mat-menu>

        <mat-menu #fish="matMenu">
          <button mat-menu-item>Baikal oilfish</button>
          <button mat-menu-item>Bala shark</button>
          <button mat-menu-item>Ballan wrasse</button>
          <button mat-menu-item>Bamboo shark</button>
          <button mat-menu-item>Banded killifish</button>
        </mat-menu>

        <mat-menu #amphibians="matMenu">
          <button mat-menu-item>Sonoran desert toad</button>
          <button mat-menu-item>Western toad</button>
          <button mat-menu-item>Arroyo toad</button>
          <button mat-menu-item>Yosemite toad</button>
        </mat-menu>

        <mat-menu #reptiles="matMenu">
          <button mat-menu-item>Banded Day Gecko</button>
          <button mat-menu-item>Banded Gila Monster</button>
          <button mat-menu-item>Black Tree Monitor</button>
          <button mat-menu-item>Blue Spiny Lizard</button>
          <button mat-menu-item disabled>Velociraptor</button>
        </mat-menu>
        <button mat-button [routerLink]='["/about"]'>About</button>
        <button mat-button>Contact</button>

      </span>
      <div class="social">
      
        <button mat-button [routerLink]='["/signin"]'>Sign In</button>
      </div>
    </mat-toolbar-row>


  </mat-toolbar>



<mat-toolbar color="primary">

  <span class="fill-remaining-space"> </span>
  <div class="social">
    <a class="current" href="index.html"> <img class="" height="18" src="../assets/Images/twitter.png" alt="twitter"></a>
    <a href="index2.html"> <img class="" height="18" src="../assets/Images/facebook.png" alt="fb"></a>

  </div>

  <!-- This fills the remaining space of the current row -->

</mat-toolbar>








