
<div class="container m-t-xs">
  <div class="row">
    <h1 class="type-h1">
      Bunks and Biddles Schools seek to enroll academically qualified students with diverse
      backgrounds and talents that will make a positive contribution to the life of the school
    </h1>
    <div class="col-md-10">
      <h1 class="type-h3 color-type-accent">Below are the steps to apply at Bunks and Biddles Schools</h1>




      <ol class="list-items">
        <li class="list-items-row">
          <div>
            <div class="row">
              <div class="col-md-24 type-p4">

                1.
                Schedule a tour
                <span class=" color-type-secondary">Book</span>


              </div>

            </div>
          </div>



        </li>
        <li class="list-items-row">
          <div>
            <div class="row">
              <div class="col-md-24 type-p4">

                2.
                Submit your application



              </div>

            </div>
          </div>


        </li>
        <li class="list-items-row">

          <div class="row">
            <div class="col-md-24 ">


              <i class="glyph glyph-location "></i>
              Arrange a classroom visit for your child
              <span class="typ-p6 color-type-secondary">Karen, Lavington</span>


            </div>

          </div>



        </li>
        <li class="list-items-row">

          <div class="row">
            <div class="col-md-24 ">


              <i class="glyph glyph-sync "></i>
              Complete admission
              <span class="typ-p6 color-type-secondary">Testing, Screening</span>


            </div>

          </div>



        </li>
        <li class="list-items-row">

          <div class="row">
            <div class="col-md-24 ">


              <i class="glyph glyph-send"></i>
              Send us
              <span class="typ-p6 color-type-secondary">recommendations &amp; transcripts</span>


            </div>

          </div>



        </li>
      </ol>



    </div>
    <div class="col-md-14">
      <h2>Apply</h2>
      <pre>

<code class="">
Admission is rolling so please apply early as first round acceptance is sent in August
						</code></pre>

      <pre>
<span class="type-sh1">School Uniforms available from</span>
<code>
ANIMET LTD, 3<sup>rd</sup> floor, Yaya centre, 
P.O. BOX 76221-00508 Nairobi
Tel: (254-020) 3861578/2730922
						</code>
<a class="color-12" href="~/Admission/KindergartenPrimary.cshtml">Kindergarten and Primary School Uniform</a>
<a class="color-12" href="~/Admission/Secondary.cshtml">Secondary School Uniform</a>
<a class="color-12" href="~/Admission/Dance.cshtml">Dance</a>
<a class="color-12" href="~/Admission/Dance.cshtml">Horse riding</a>
</pre>
    </div>
  </div>
</div>
