<!-- Since Jumbotron is outside the grid... -->


  <app-carousel-component></app-carousel-component>




<div class="page-header" style="background:#fff;" id="page-header">
  <div class="container">
    <div class="row">
     

      <div class="col-xs-24">


        <ul class="nav nav-pills" data-scroll="smooth">
          <li role="presentation">
            <a href="#news"><h5>News</h5></a>
          </li>
          <li role="presentation">
            <a href="#schools"><h5>Schools</h5></a>
          </li>

          <li role="presentation">
            <a href="#maps"><h5>Maps</h5></a>
          </li>


        </ul>



        <div class="row section-gallery">
          <div class="col-md-4">
            <div class="row-sm">
              <mat-card color="secondary">
                <h6>Powered by</h6>
                <mat-divider></mat-divider>
                <p class="label label-primary">info@babs.ac.ke</p>
              </mat-card>
            </div>
            <div class="row-sm">
              <div class="cardCalender">
                <div class="text" matRipple [matRippleColor]="myColor">

                  <h3 class="color-type-secondary "><i class="glyph glyph-calendar-mirrored color-type-accent "></i> Calender </h3>
                  <div data-toggle="modal" href="#changelog" class="fab">&#43;</div>
                </div>





              </div>


            </div>




          </div>



          <div class="col-md-8">

            <app-article-list></app-article-list>
          </div>
          <div class="col-sm-12">
            <div class="row p-row-sm ">
              <div class="col-md-12">
                <figure class="media">
                  <div class="media-img ratio-2-1">
                    <a href="">
                      <img src="../assets/Images/1.jpg" alt="" />
                    </a>
                  </div>


                </figure>
              </div>
              <div class="col-md-12">
                <figure class="media">
                  <div class="media-img ratio-2-1">
                    <a href="">
                      <img src="../assets/Images/2.jpg" alt="" />
                    </a>
                  </div>


                </figure>
              </div>
              <div class="col-md-12">
                <figure class="media">
                  <div class="media-img ratio-2-1">
                    <a href="">
                      <img src="../assets/Images/3.jpg" alt="" />
                    </a>
                  </div>


                </figure>
              </div>
              <div class="col-md-12">
                <figure class="media">
                  <div class="media-img ratio-2-1">
                    <a href="">
                      <img src="../assets/Images/5.jpg" alt="" />
                    </a>
                  </div>


                </figure>
              </div>


              <div class="col-md-6">
                <figure class="media">
                  <div class="media-img ratio-2-1">
                    <a href="">
                      <img src="../assets/Images/23.jpg" alt="" />
                    </a>
                  </div>


                </figure>
              </div>
              <div class="col-md-6">
                <figure class="media">
                  <div class="media-img ratio-2-1">
                    <a href="">
                      <img src="../assets/Images/7.jpg" alt="" />
                    </a>
                  </div>


                </figure>
              </div>
              <div class="col-md-6">
                <figure class="media">
                  <div class="media-img ratio-2-1">
                    <a href="">
                      <img src="../assets/Images/4.jpg" alt="" />
                    </a>
                  </div>


                </figure>
              </div>
              <div class="col-md-6">
                <figure class="media">
                  <div class="media-img ratio-2-1">
                    <a href="">
                      <img src="../assets/Images/8.jpg" alt="" />
                    </a>
                  </div>


                </figure>
              </div>
            </div>

          </div>


        </div>



      </div>
    </div>
  </div>

</div>



  <app-schools-component id="schools"></app-schools-component>









